# Python
__pycache__/
*.py[cod]
*.so
.Python

# Build files
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
.venv/
flipbotenv/
cleanenv/

# Environment Variables
.env
.env.*

# Logs
*.log
logs/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/